asgiref==3.9.1
Brotli==1.1.0
click==8.2.1
colorama==0.4.6
dj-database-url==3.0.1
Django==5.2.5
djangorestframework==3.16.1
graphene==3.4.3
graphene-django==3.2.3
graphql-core==3.2.6
graphql-relay==3.2.0
gunicorn==23.0.0
h11==0.16.0
packaging==25.0
promise==2.3
Django>=4.2
djangorestframework
gunicorn
uvicorn
psycopg2-binary
dj-database-url
whitenoise[brotli]
